<%
# Copyright (C) 2015 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<h2 class="ic-Login-confirmation__headline">
  <% if @provider.icon_url %>
    <%= image_tag @provider.icon_url, :alt => t("Provider icon"), :class => 'ic-Login-confirmation__auth-icon' %>
  <% end %>
  <%= @provider.app_name %>
</h2>
<% if @provider.is_u_meeting? %>
  <p>
    <strong><%= mt 'details.u_meeting.sub_label', "You are allowing UMeeting LTI to access your information including your name, account, and your role in the class." %></strong>
  </p>
  <p>
    <%= mt 'details.u_meeting.content', "This module is an app developed by Cyberlink Corp. and authorized by NTU DLC, so we need your authorization. If you allow the authorization, UMeeting LTI will access your name, account, and your role in the class every time you launch this LTI tool on NTU COOL." %>
  </p>
<% else %>
  <p>
    <strong><%= mt 'details.allow_application', "You are allowing %{app_name} to access your basic information.", :app_name => @provider.app_name %></strong>
  </p>
  <p class="ic-Login-confirmation__description">
    <%= mt 'details.ntu_disclaimer', "This module is an app developed or authorized by NTU DLC, so we need your authorization. If you allow the authorization, you will not have to do it again when you use the same module afterward." %>
  </p>
<% end %>
<p>
  <%= mt 'details.login_name', "You are authorizing this app as %{user_name}.", :user_name => link_to(@current_user.short_name, user_profile_url(@current_user), :popup => true, target:"_blank") %>
</p>
<% if @special_confirm_message %>
  <p><%= @special_confirm_message %></p>
<% end %>
<%= form_tag oauth2_auth_accept_path, id: "oauth2_accept_form" do %>
  <div class="button_box ic-Login-confirmation__actions">
    <%=  submit_tag(t("Authorize"),  class: "Button Button--primary Button--block", data: {disable_with: t('Please wait...')}) %>
    <%= link_to(t(:cancel, "Cancel"), oauth2_auth_deny_path, :class => "Button Button--block") %>
  </div>
  <% if @provider.scopes == ["/auth/userinfo"] %>
    <div class="control-group">
      <%= check_box_tag(:remember_access, "1", false, :class => "checkbox") %>
      <%= label_tag :remember_access, t('labels.remember_access', "Remember my authorization for this service"), class: "checkbox" %>
    </div>
  <% end %>
<% end %>
