<%
# Copyright (C) 2011 - present Instructure, Inc.
#
# This file is part of Canvas.
#
# Canvas is free software: you can redistribute it and/or modify it under
# the terms of the GNU Affero General Public License as published by the Free
# Software Foundation, version 3 of the License.
#
# Canvas is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License along
# with this program. If not, see <http://www.gnu.org/licenses/>.
%>

<% title = join_title t("Upload Gradebook"), @context.name %>
<% provide :page_title, title %>
<% if @domain_root_account.feature_enabled?(:instui_nav) %>
  <% add_crumb t('Grades'), context_url(@context, :context_grades_url ) %>
  <% add_crumb t("Import") %>
<% end %>

<div class="grid-row">
  <div class="col-xs-12 col-md-8">

    <div class="ic-Action-header" style="margin-bottom: 2.25rem">
      <div class="ic-Action-header__Primary">
    <% if @domain_root_account.feature_enabled?(:instui_nav) %>
      <h1 class="ic-Action-header__Heading ic-Action-header-title"><%= t("Import") %></h1>
    <% else %>
      <h1 class="ic-Action-header__Heading"><%= title %></h1>
    <% end %>
      </div>
    </div>

    <%= form_for [@context, GradebookUpload.new], html: { class: 'ic-Form-group', multipart: true, title: t("Choose a CSV file to upload:") } do |f| %>
    <% if false # Hide user guide from users #260
    %>  
      <p style="margin-top: 0">
        <a class="icon-question" target="_blank" href="<%= t(:'#community.instructor_import_grades') %>"><%= t "What should the CSV file look like?" %></a>
      </p>
    <% end %>
      <div class="ic-Form-control">
        <%= f.label :uploaded_data, t("Choose a CSV file to upload:"), class: 'ic-Label' %>
        <!--COOL mod start-->
        <%= f.label nil, t('#gradebook_uploads.upload_warning', 'Please choose the Gradebook CSV file exported from NTU COOL. Other CSV files are not accepted.'), class: 'ic-Label', style: 'color: #EE0612; margin-top: 12px; margin-bottom: 0' %>
        <%= link_to t('#gradebook_uploads.manual', 'NTU COOL Manual: How to upload grades in Excel to NTU COOL'), I18n.locale == :'zh-Hant' ? 'https://drive.google.com/file/d/1bem71DpgFq6lwUUcCJmC0muGQYM_TldR/view' : 'https://drive.google.com/file/d/1itSLafba2cweaylSL11CqQ1gYpdfojy0/view', style: 'display: block; margin-bottom: 20px' %>
        <!--COOL mod end-->
        <%= f.file_field :uploaded_data, class: 'ic-Input' %>
      </div>

      <div class="ic-Form-actions">
        <%= f.submit t("Upload Data"), class: "Button Button--primary" %>
      </div>
    <% end %>
  </div>
</div>

<!-- COOL mod start -->
<%= content_tag :p, t('#gradebook_uploads.how_to_title', 'How to export the Gradebook CSV file from NTU COOL?'), class: 'ic-Label', style: 'margin-top: 46px; margin-bottom: 12px' %>
<%= content_tag :p, t('#gradebook_uploads.how_to_detail', 'Go to the Grades page → “Import and Export” → “Export Entire Gradebook” → Open the downloaded file. Afterwards, you can edit grades in the file, save as CSV, and upload it to this page.'), style: 'margin-bottom: 6px' %>
<%= image_tag 'https://files-1.dlc.ntu.edu.tw/canvas/export-gradebook-tutorial.png', title: 'export gradebook tutorial' %>
<!-- COOL mod end -->
